<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>be.genx.obsidian-sync</string>
  <key>ProgramArguments</key>
  <array>
    <string>/opt/homebrew/bin/rsync</string>
    <string>-av</string>
    <string>--delete</string>
    <string>--protect-args</string>
    <string>/Users/sam/Documents/GeNx Obsidian/</string>
    <string>/Users/sam/Library/CloudStorage/GoogleDrive-sam@genx.be/My Drive/_applications/Obsidian/</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>StartInterval</key>
  <integer>86400</integer>
  <key>StandardOutPath</key>
  <string>/Users/sam/Library/Logs/obsidian-sync.out.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/sam/Library/Logs/obsidian-sync.err.log</string>
</dict>
</plist>
